* {
  background-color: #996ebb;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #996ebb;
}

.box {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 30px auto;
}

.box--1 {
  background-color: cornsilk;
}

.box--2 {
  background-color: blanchedalmond;
}

.box--3 {
  background-color: bisque;
}

.box--4 {
  background-color: floralwhite;
}

.box--5 {
  background-color: white;
}

.elem__container {
  margin: 0 auto;
}

.elem {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: lavender;
  margin: 30px;
}