.button--slideRight--open-line1 {
  animation: slideRight-open-line-1 .4s;
  animation-timing-function: ease-out;
  transform: rotate(45deg);
  top: ($line-distance + $top-distance);
}

.button--slideRight--open-line2 {
  animation: slideRight-open-line-2 .4s;
  animation-timing-function: ease-out;
  right: (0 - $hamburger-size);
}

.button--slideRight--open-line3 {
  animation: slideRight-open-line-3 .4s;
  animation-timing-function: ease-out;
  transform: rotate(-45deg);
  top: ($line-distance + $top-distance);
}

.button--slideRight--close-line1 {
  animation: slideRight-close-line-1 .4s;
  animation-timing-function: ease-out;
}

.button--slideRight--close-line2 {
  animation: slideRight-close-line-2 .4s;
  animation-timing-function: ease-out;
  right: ($hamburger-size - $hamburger-size);
}

.button--slideRight--close-line3 {
  animation: slideRight-close-line-3 .4s;
  animation-timing-function: ease-out;
}

@keyframes slideRight-open-line-1 {
  0% {transform: rotate(0deg); top: ($top-distance);}
  20% {transform: rotate(5deg); top: (($line-distance + $top-distance) - 5px);}
  40% {transform: rotate(10deg); top: (($line-distance + $top-distance) - 3);}
  60% {transform: rotate(20deg); top: (($line-distance + $top-distance) - 2px);}
  80% {transform: rotate(30deg); top: (($line-distance + $top-distance) - 1px);}
  100% {transform: rotate(45deg); top: ($line-distance + $top-distance)}
}

@keyframes slideRight-open-line-2 {
  0% {right: ($hamburger-size - $hamburger-size)}
  20% {right: ($hamburger-size - ($hamburger-size + 5px));}
  40% {right: ($hamburger-size - ($hamburger-size + 10px));}
  60% {right: ($hamburger-size - ($hamburger-size + 15px));}
  80% {right: ($hamburger-size - ($hamburger-size + 20px));}
  100% {right: ($hamburger-size - ($hamburger-size + 25px));}
}

@keyframes slideRight-open-line-3 {
  0% {transform: rotate(0deg); top: ((($line-distance + $top-distance) * 2) - $top-distance);}
  20% {transform: rotate(-5deg); top: (($line-distance + $top-distance) + 5px);}
  40% {transform: rotate(-10deg); top: (($line-distance + $top-distance) + 3px);}
  60% {transform: rotate(-20deg); top: (($line-distance + $top-distance) + 2px);}
  80% {transform: rotate(-30deg); top: (($line-distance + $top-distance) + 1px);}
  100% {transform: rotate(-45deg); top: ($line-distance + $top-distance);}
}

@keyframes slideRight-close-line-1 {
  0% {transform: rotate(45deg); top: ($line-distance + $top-distance);}
  20% {transform: rotate(30deg); top: (($line-distance + $top-distance) - 1px);}
  40% {transform: rotate(20deg); top: (($line-distance + $top-distance) - 2px);}
  60% {transform: rotate(10deg); top: (($line-distance + $top-distance) - 3px);}
  80% {transform: rotate(5deg); top: (($line-distance + $top-distance) - 5px);}
  100% {transform: rotate(0deg); top: $top-distance;}
}

@keyframes slideRight-close-line-2 {
  0% {right: ($hamburger-size - ($hamburger-size + 25px));}
  20% {right: ($hamburger-size - ($hamburger-size + 20px));}
  40% {right: ($hamburger-size - ($hamburger-size + 15px));}
  60% {right: ($hamburger-size - ($hamburger-size + 10px));}
  80% {right: ($hamburger-size - ($hamburger-size + 5px));}
  100% {right: ($hamburger-size - $hamburger-size)}
}

@keyframes slideRight-close-line-3 {
  0% {transform: rotate(-45deg); top: ($line-distance + $top-distance);}
  20% {transform: rotate(-30deg); top: (($line-distance + $top-distance) + 1px);}
  40% {transform: rotate(-20deg); top: (($line-distance + $top-distance) + 2px);}
  60% {transform: rotate(-10deg); top: (($line-distance + $top-distance) + 3px);}
  80% {transform: rotate(-5deg); top: (($line-distance + $top-distance) + 5px);}
  100% {transform: rotate(0deg); top: ((($line-distance + $top-distance) * 2) - $top-distance);}
}
