$hamburger-size: 25px;
$line-distance: 7px;
$line-thickness: 4px;

.button{
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: $hamburger-size;
  height: $hamburger-size;
}

.line {
  width: $hamburger-size;
  height: $line-thickness;
  background-color: black;
}

.line--1, .line--2, .line--3 {
  position: absolute;
}

.line--2 {
  top: $line-distance;
}

.line--3 {
  top: ($line-distance * 2);
}

.button--open-line1 {
  animation: open-line-1 .4s;
  animation-timing-function: ease-out;
  transform: rotate(45deg);
  top: 7px;
}

.button--open-line2 {
  animation: open-line-2 .4s;
  animation-timing-function: ease-out;
  opacity: 0;
}

.button--open-line3 {
  animation: open-line-3 .4s;
  animation-timing-function: ease-out;
  transform: rotate(-45deg);
  top: 7px;
}

.button--close-line1 {
  animation: close-line-1 .4s;
  animation-timing-function: ease-out;
}

.button--close-line2 {
  animation: close-line-2 .4s;
  animation-timing-function: ease-out;
}

.button--close-line3 {
  animation: close-line-3 .4s;
  animation-timing-function: ease-out;
}

@keyframes open-line-1 {
  0% {transform: rotate(0deg); top: 0px;}
  20% {transform: rotate(5deg); top: ($line-distance - 5px);}
  40% {transform: rotate(10deg); top: ($line-distance - 3);}
  60% {transform: rotate(20deg); top: ($line-distance - 2px);}
  80% {transform: rotate(30deg); top: ($line-distance - 1px);}
  100% {transform: rotate(45deg); top: $line-distance}
}

@keyframes open-line-2 {
  0% {opacity: 1}
  20% {opacity: 0}
}

@keyframes open-line-3 {
  0% {transform: rotate(0deg); top: ($line-distance * 2);}
  20% {transform: rotate(-5deg); top: ($line-distance + 5px);}
  40% {transform: rotate(-10deg); top: ($line-distance + 3px);}
  60% {transform: rotate(-20deg); top: ($line-distance + 2px);}
  80% {transform: rotate(-30deg); top: ($line-distance + 1px);}
  100% {transform: rotate(-45deg); top: $line-distance;}
}

@keyframes close-line-1 {
  0% {transform: rotate(45deg); top: $line-distance;}
  20% {transform: rotate(30deg); top: ($line-distance - 1px);}
  40% {transform: rotate(20deg); top: ($line-distance - 2px);}
  60% {transform: rotate(10deg); top: ($line-distance - 3px);}
  80% {transform: rotate(5deg); top: ($line-distance - 5px);}
  100% {transform: rotate(0deg); top: 0px;}
}

@keyframes close-line-2 {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}

@keyframes close-line-3 {
  0% {transform: rotate(-45deg); top: $line-distance;}
  20% {transform: rotate(-30deg); top: ($line-distance + 1px);}
  40% {transform: rotate(-20deg); top: ($line-distance + 2px);}
  60% {transform: rotate(-10deg); top: ($line-distance + 3px);}
  80% {transform: rotate(-5deg); top: ($line-distance + 5px);}
  100% {transform: rotate(0deg); top: ($line-distance * 2);}
}