$hamburger-size: 25px;
$line-distance: 7px;
$line-thickness: 4px;

.button{
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: $hamburger-size;
  height: $hamburger-size;
}

.line {
  width: $hamburger-size;
  height: $line-thickness;
  background-color: black;
}

.line--1, .line--2, .line--3 {
  position: absolute;
}

.line--2 {
  top: $line-distance;
}

.line--3 {
  top: ($line-distance * 2);
}

@import 'types/fade';
@import 'types/arrow';