.section--1 {
  background-color: #7ebb6e;
}

.section--2 {
  background-color: #f7a766;
}

.text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
}