* {
  font-family: 'Julius Sans One', sans-serif;
}

.text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 60px;
}

.link__container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #7ebb6e;
}

.nav {
  position: fixed;
  top: 10px;
  left: 10px;
}

.element {
  display: inline-block;
  width: 60px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.element--link {
  text-decoration: none;
  line-height: 40px;
  color: #fff;
}