* {
  font-family: 'Julius Sans One', sans-serif;
}

.text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 60px;
}

.link__container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #7ebb6e;
}