.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px; }

.line {
  width: 35px;
  height: 5px;
  background-color: black; }

.line--1, .line--2, .line--3 {
  position: absolute; }

.line--2 {
  top: 10px; }

.line--3 {
  top: 20px; }

.button--open-line1 {
  animation: open-line-1 .4s;
  animation-timing-function: ease-out;
  transform: rotate(45deg);
  top: 10px; }

.button--open-line2 {
  animation: open-line-2 .4s;
  animation-timing-function: ease-out;
  opacity: 0; }

.button--open-line3 {
  animation: open-line-3 .4s;
  animation-timing-function: ease-out;
  transform: rotate(-45deg);
  top: 10px; }

.button--close-line1 {
  animation: close-line-1 .4s;
  animation-timing-function: ease-out; }

.button--close-line2 {
  animation: close-line-2 .4s;
  animation-timing-function: ease-out; }

.button--close-line3 {
  animation: close-line-3 .4s;
  animation-timing-function: ease-out; }

@keyframes open-line-1 {
  0% {
    transform: rotate(0deg);
    top: 0px; }
  20% {
    transform: rotate(5deg);
    top: 2px; }
  40% {
    transform: rotate(10deg);
    top: 4px; }
  60% {
    transform: rotate(20deg);
    top: 6px; }
  80% {
    transform: rotate(30deg);
    top: 8px; }
  100% {
    transform: rotate(45deg);
    top: 10px; } }

@keyframes open-line-2 {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; } }

@keyframes open-line-3 {
  0% {
    transform: rotate(0deg);
    top: 20px; }
  20% {
    transform: rotate(-5deg);
    top: 18px; }
  40% {
    transform: rotate(-10deg);
    top: 16px; }
  60% {
    transform: rotate(-20deg);
    top: 14px; }
  80% {
    transform: rotate(-30deg);
    top: 12px; }
  100% {
    transform: rotate(-45deg);
    top: 10px; } }

@keyframes close-line-1 {
  0% {
    transform: rotate(45deg);
    top: 10px; }
  20% {
    transform: rotate(30deg);
    top: 8px; }
  40% {
    transform: rotate(20deg);
    top: 6px; }
  60% {
    transform: rotate(10deg);
    top: 4px; }
  80% {
    transform: rotate(5deg);
    top: 2px; }
  100% {
    transform: rotate(0deg);
    top: 0px; } }

@keyframes close-line-2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes close-line-3 {
  0% {
    transform: rotate(-45deg);
    top: 10px; }
  20% {
    transform: rotate(-30deg);
    top: 12px; }
  40% {
    transform: rotate(-20deg);
    top: 13px; }
  60% {
    transform: rotate(-10deg);
    top: 16px; }
  80% {
    transform: rotate(-5deg);
    top: 18px; }
  100% {
    transform: rotate(0deg);
    top: 20px; } }
